.control,
.information {
  max-width: 500px;
  min-height: 100px;
  margin: 16px;
  -webkit-transition: min-height 2s, -webkit-transform 2s; /* Safari */
  transition: min-height 2s, transform 2s;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  flex-wrap: wrap;
}

.dev-div {
  min-height: 30vh;
  color: white;
  background: grey;
  font-family: "Source Code Pro", monospace;
  padding: 1em;
  overflow: scroll;
}

.dev-div a {
  color: white;
}

.content {
  padding: 16px;
}

button {
  margin: 6px 3px !important;
}