.control,
.information {
  max-width: 400px;
  margin: 16px;
  min-height: 250px;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.dev-div {
  height: 30vh;
  color: white;
  background: grey;
  font-family: "Source Code Pro", monospace;
  padding: 1em;
  overflow: scroll;
}

.dev-div a {
  color: white;
}

.content {
  padding: 16px;
}

button {
  margin: 6px 3px !important;
}